.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	z-index: 2;
	visibility: hidden;
	opacity: 0;	
	transition: .3s;
	&--active {
		opacity: 1;		
		visibility: visible;
	}
	&__controls {
		background: @white;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		z-index: 1;
		box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
	}
	&__button {		
		padding: 15px;
		transition: .3s;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
		font-family: 'Open Sans Condensed', sans-serif;		
		flex-grow: 1;
		&::before {
			text-align: center;
			font-family: monospace;
			font-size: 35px;
		}
		&::after {
			text-align: center;
		}
		&--prev {
			border-right: 1px solid @grey;
			&::before {
				content: '<';
			}
			&::after {
				content: 'Назад';
			}
		}
		&--next {
			border-left: 1px solid @grey;
			&::before {
				content: '>';
			}
			&::after {
				content: 'Вперед';
			}
		}
		&--close {
			@media @d {
				border-left: 1px solid @grey;
				border-right: 1px solid @grey;
			}
			&::before {
				content: '×';
			}
			&::after {
				content: 'Вернуться';
			}
		}
		@media @m {
			&::after {
				display: none;
			}
			&::before {
				display: block;
			}
		}
		@media @t {
			&::after {
				display: block;
			}
			&::before {
				display: none;
			}
		}
		@media @d {
			flex-grow: 0;
		}
		&:hover {
			background: @black;
			color: @white;
		}
	}
	&__wrapper {		
		background: rgba(0, 0, 0, 0.5);
		flex-grow: 1;	
		perspective: 500vw;
	}
	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		overflow-y: auto;
		opacity: 0;
		transition: .3s;		
		@media @m {
			padding: 15px;
		}
		@media @t {
			padding: 30px;
		}
		@media @d {
			padding: 45px;
		}		
		&--active {
			visibility: visible;
			opacity: 1;			
			.modal__inner {				
				transform: rotateY(0) scale(1);
			}
		}
	}
	&__inner {
		background: @white;
		min-height: 100%;
		max-width: 1280px;
		margin: 0 auto;
		transform: rotateY(90deg) scale(1.2);
		transition: .3s;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
	}
	&__col {		
		padding: 15px;
		transition: .3s;		
		&--left {
			flex-grow: 1;
			@media @m {
				flex-basis: 100%;
			}
			@media @t {
				flex-basis: 62.5%;
				border-right: 1px solid @black;
			}
			@media @d {
				flex-basis: 75%;
			}
			img {
				width: 100%;
				background: @grey;
				margin-bottom: 15px;
			}
		}
		&--right {
			align-self: flex-start;
			@media @m {
				flex-basis: 100%;
				order: -1;
				border-bottom: 1px solid @black;
			}
			@media @t {
				flex-basis: 37.5%;				
			}
			@media @d {
				flex-basis: 25%;
			}
		}
		&--hidden {
			@media @t {
				display: none;				
				/*opacity: 0;
				flex-basis: 0;
				padding: 0;
				overflow: hidden;*/
			}
		}
	}
	&__description {
		width: 100%;
	}
	&__header {
		text-transform: uppercase;
		font-size: 36px;
		margin: 0;
	}
	&__text {
		border-top: 1px solid @grey;
		border-bottom: 1px solid @grey;
		padding: 15px 0;
	}
	&__tags {
		margin-bottom: 15px;
		span {
			display: inline-block;
			background: @grey;
			padding: 5px 10px;
			margin-bottom: 5px;
		}
	}
	&__link {
		display: inline-block;
		text-align: center;
		padding: 15px;
		margin-top: auto;
		border: 2px solid @black;
		text-transform: uppercase;
		text-decoration: none;
		color: @black;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 1px;
		word-spacing: 5px;
		transition: .3s;
		&:hover {
			background: @black;
			color: @white;
		}
	}
}
