@import "intro.less";
@import "modal.less";
@import "portfolio.less";

@m: ~ "(max-width: 767px)";
@t: ~ "(min-width: 768px)";
@d: ~ "(min-width: 1280px)";

.lcw {
	margin: 0 auto;	
    padding: 0 15px;
	@media @m {
		width: 100%;
	}
	@media @t {
		width: 768px;
	}
	@media @d {
		width: 1280px;
	}	
}

@black: #333;
@white: #fff;
@grey: #ddd;

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

* {
	box-sizing: border-box;	
	/*&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		
	}
	&::-webkit-scrollbar-thumb {
	  background-color: @black;
	}*/
}

body {
    color: @black;
	margin: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	overflow-y: visible;
	&.modal-open {
		overflow: hidden;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    letter-spacing: 1px;
}

main {
	flex-grow: 1;
}

.footer {
	background: @black;
	color: @white;
	padding: 15px 0;
    &__wrapper {
        .lcw;
    }
}

.page {
	min-height: 100vh;	
	/*display: none;
	animation: fade .3s;
	&--active {
		display: block;	
	}*/
    &--dark {
        background: @black;
        color: @white;
        .page__heading {
            &::before {
                background: @white;
            }
        }
    }
    &__wrapper {
        .lcw;
        padding-top: 60px;
        padding-bottom: 60px;
    }
	&__heading {
        padding: 30px 0;
		margin-bottom: 30px;
        text-align: center;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 200px;
            height: 1px;
            background: @black;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        h2 {
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 15px;
        }
        div {
            font-size: 16px;
        }
	}
}